Vulnerability CVE-2022-31690

Spring Security, versions 5.7 prior to 5.7.5, and 5.6 prior to 5.6.9, and older unsupported versions could be susceptible to a privilege escalation under certain conditions. A malicious user or attacker can modify a request initiated by the Client (via the browser) to the Authorization Server which can lead to a privilege escalation on the subsequent approval. This scenario can happen if the Authorization Server responds with an OAuth2 Access Token Response containing an empty scope list (per RFC 6749, Section 5.1) on the subsequent request to the token endpoint to obtain the access token.


OpenL version OpenL version 5.26.3

Updated to 5.7.5 in 7a39f8de71ba34bcba68622582db81a5554bbfea and then to 5.8.0 in 4850a253c7082ae6db24d5a86f80839acdaa0472